.Cont{

    background-color: white;
    width: 100;
}

.forg1{
    margin-left: 280px;
    display:flex;
    
}

.container2{
    height: 678px;
    margin-top: 86px;
    margin-left: 60px;
}

.signlogin{

    color: rgba(128, 100, 162, 1);

}


.heading{
    font-style: italic;
    font-weight: 500;
    font-size:36;
    
  }
  
  .subhead{
  color: rgba(128, 100, 162, 1);
  
  }
  
  .subhead1{
    color: rgba(0, 150, 200, 1);
  
    
    }